@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.backImg {
  background-image: url(../../assets/Rectángulo21.png);
}

.hotel {
  padding: 1.5em;
}
.hotel__container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2.5em;
  grid-template-rows: unset;
}
.hotel__container__title {
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 2em;
  font-size: 2.2em;
  margin-top: 0.2em;
  width: 2.5em;
  height: 2.3em;
  margin-right: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 2.4em;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.hotel__container__wide__h2Primero {
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 2em;
  margin: 0.3em 0 0.1em 0.3em;
  grid-column: 2/span 1;
  grid-row: 1;
}
.hotel__container__wide__h2Segundo {
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2em;
  margin: 0 0 0 0.3em;
  grid-column: 2/span 1;
  grid-row: 1;
}
.hotel__text {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7em;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}
.links__button {
  margin-left: 2.4em;
  border: none;
}
.links__button img {
  width: 70%;
  height: auto;
  margin-top: 0.2em;
}
.links__button:hover:hover {
  background-color: #BEAD8E;
  transform: scale(1.15);
}

.services {
  margin: 0 0 1.5em 1.5em;
}
.services__title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.5em;
}
.services__list {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
}
.services__list__1 {
  margin-right: 3em;
}
.services__list__1, .services__list__2 {
  line-height: 2.5em;
  list-style: none;
}

.contact {
  margin-left: 1.5em;
}
.contact__title {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1.3em;
}
.contact__container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2.5em;
  grid-template-columns: 20% 80%;
}
.contact__container__img {
  margin-top: 0.3em;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}
.contact__container__text1 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  grid-column: 2, span 1;
  grid-row: 1;
}
.contact__container__text2 {
  font-family: "Roboto", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  grid-column: 2, span 1;
  grid-row: 2;
}

.bottomP1 {
  margin-bottom: 1em;
}

.bottomP1, .bottomP2 {
  font-family: "Roboto", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  margin-left: 1em;
}

@media only screen and (min-width: 1250px) {
  .backImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .hotelLinksWide {
    width: 25%;
  }
  .hotel {
    margin-right: 5%;
  }
  .hotel__container {
    display: flex;
    flex-direction: row;
  }
  .hotel__container__title {
    grid-column: unset;
    grid-row: unset;
  }
  .hotel__container__h2Primero, .hotel__container__h2Segundo {
    grid-column: unset;
    grid-row: unset;
    margin-left: 0;
  }
  .hotel__text {
    margin: 1em 0;
    padding-left: 0.5em;
    padding-right: 5em;
  }
  .links {
    margin-left: 0em;
  }
  .services {
    margin: 0 5% 1.5em 0;
  }
  .contact {
    margin-top: 4.5em;
    min-width: 12em;
  }
  .contact__container {
    grid-template-columns: 30% 70%;
  }
  .copyWide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .bottomP1 {
    margin-left: 6em;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  height: 4.25em;
}
.navbar__menu {
  border: none;
  background-color: transparent;
  width: 2.25em;
  font-size: 1.75em;
  padding-right: 0.5em;
  margin-left: 1em;
}
.navbar__linkButton, .navbar__linkButtonUltimo {
  display: none;
}
.navbar__recuadro {
  width: 1em;
  height: 1em;
  margin: 1em 2em 0 1em;
  box-shadow: 0px 14px 24px 10px rgba(56, 54, 54, 0.2509803922);
  margin-top: 1em;
}
.navbar__imgtxt {
  width: 4em;
  margin-right: 4em;
}
.navbar__iconRecuadro__img1 {
  margin-right: 1.8em;
}
.navbar__iconRecuadro__img1, .navbar__iconRecuadro__img2 {
  width: 1.5em;
  height: 1.5em;
  margin-top: 1.25em;
}

@media only screen and (min-width: 1250px) {
  .navbar {
    height: 7.5em;
    width: 74%;
    position: absolute;
    top: 2.5em;
    left: 13%;
    background-color: white;
  }
  .navbar__recuadro {
    width: 5em;
    height: 5em;
    margin-top: 1em;
  }
  .navbar__recuadro__img {
    width: 5.5em;
    height: 5.5em;
  }
  .navbar__imgtxt {
    width: 8.563em;
    margin-right: 10%;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__linkButton, .navbar__linkButtonUltimo {
    display: inline-block;
    font-family: "Archivo", sans-serif;
    color: #111111;
    background-color: transparent;
    font-weight: 700;
    font-size: 1em;
    border: none;
    margin-right: 4.5%;
  }
  .navbar__linkButtonUltimo {
    margin-right: 0;
  }
  .navbar__iconRecuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    width: 3.75em;
    height: 3.75em;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
    margin-right: 1.5em;
    margin-right: 0;
    position: absolute;
    right: 4%;
  }
  .navbar__iconRecuadro:not(:last-child) {
    margin-right: 6em;
  }
  .navbar__iconRecuadro__img1, .navbar__iconRecuadro__img2 {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.titlePeque {
  height: 17.25em;
  background-color: #333333;
}
.titlePeque__superior {
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  padding: 5em 0 2em 1em;
  line-height: 1.15em;
  letter-spacing: 0.2em;
}
.titlePeque__intermedio {
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 200;
  font-size: 3.5em;
  padding-left: 0.25em;
  letter-spacing: -0.075em;
}
.titlePeque__container {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 11em;
  height: 10em;
  margin-left: 10.5em;
}
.titlePeque__container__inferior {
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  padding: 1em 0 0 2.3em;
}
.titlePeque__container__inferior2 {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  padding: 1em 0 0 0.5em;
}

.titleGrande {
  background-color: #333333;
}
.titleGrande__superior {
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  padding: 5em 0 2em 1em;
  line-height: 1.15em;
  letter-spacing: 0.2em;
}
.titleGrande__intermedio {
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 200;
  font-size: 3.5em;
  padding-left: 0.25em;
  letter-spacing: -0.075em;
}

.contact__medios__containers {
  position: relative;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 4fr;
  margin-top: 2.5em;
  height: 14.6em;
}
.contact__medios__containers__img {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.contact__medios__containers__title {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.25em;
  padding-left: 1em;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  z-index: 5;
}
.contact__medios__containers__txt, .contact__medios__containers__txt2 {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  padding-left: 1em;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  z-index: 5;
}
.contact__medios__containers__txt2 {
  padding-top: 1.5em;
}
.contact__medios__containers__bigNumber {
  font-family: "Roboto", sans-serif;
  color: #F8F8F8;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  position: absolute;
  right: 0;
  font-size: 13.1em;
  top: -0.2em;
}

.contact__medios__number {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 4fr;
  margin-top: 2.5em;
}

.contact__medios__location {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 4fr;
  margin-top: 2.5em;
}

.imgContact {
  max-width: 20.5em;
  margin-bottom: 2em;
}

.contactForm {
  text-align: left;
  position: relative;
  margin-bottom: 4em;
}
.contactForm__input {
  height: 4.15em;
  margin-bottom: 1em;
}
.contactForm__input, .contactForm__textarea {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 1em;
  width: 20.5em;
  padding-left: 3em;
  border: none;
  display: block;
}
.contactForm__textarea {
  height: 11em;
  margin-bottom: 2em;
  padding-top: 1.5em;
  resize: none;
}
.contactForm__submit {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 16.15em;
  height: 3.75em;
  margin-left: 2.15em;
}
.contactForm__img1, .contactForm__img2, .contactForm__img3, .contactForm__img4, .contactForm__img5 {
  position: absolute;
  left: 1em;
  z-index: 10;
}
.contactForm__img1 {
  top: 1.5em;
}
.contactForm__img2 {
  top: 6.7em;
}
.contactForm__img3 {
  top: 11.9em;
}
.contactForm__img4 {
  top: 17.1em;
}
.contactForm__img5 {
  top: 22.3em;
}

.titleGrandeWide {
  display: none;
}

.titleGrande {
  height: 28.25em;
}
.titleGrande__button {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 16.15em;
  margin-left: 1em;
  margin-top: 2.5em;
  font-family: "Archivo", sans-serif;
  font-size: 0.85em;
  line-height: 0.9em;
  letter-spacing: 0.15em;
}
.titleGrande__button--negro {
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  background-color: transparent;
}
.titleGrande__button--grande {
  width: 18.3em;
}

.availability {
  margin-bottom: 11em;
  height: 23.25em;
  background-color: #222222;
}
.availability__txt {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  margin-left: 1em;
  line-height: 1.2em;
  padding-top: 2em;
  margin-bottom: 1.5em;
}
.availability__container {
  margin-left: 1em;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 0.8em;
  width: 21.5em;
  display: flex;
}
.availability__container__imgButton {
  background-color: transparent;
  border: none;
}
.availability__dates {
  margin-left: 2em;
  width: 23.4em;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
}

.aboutUs {
  margin-left: 1.5em;
}
.aboutUs__h4 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 2em;
}
.aboutUs__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: -0.08em;
  margin-bottom: 0.3em;
}
.aboutUs__p {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5em;
  margin-bottom: 3em;
}
.aboutUs__button {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 16.15em;
  line-height: 0.9em;
  letter-spacing: 0.15em;
}

.mitad {
  margin-top: 4em;
  height: 30.5em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.mitad__superior {
  height: 11.316em;
}
.mitad__superior__img {
  max-width: 17em;
}
.mitad__inferior {
  padding-top: 3.5em;
  margin-bottom: 2em;
}

.mitadBlanca__img {
  margin-left: 32%;
  margin-bottom: 1.5em;
}
.mitadBlanca__h3 {
  text-align: center;
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.85em;
}
.mitadBlanca__p {
  text-align: center;
  max-width: 12.5em;
  font-family: "Roboto", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
}

.mitadNegra {
  background-color: #222222;
  width: 17em;
  text-align: center;
  height: 17.5em;
}
.mitadNegra__img {
  margin-bottom: 1.5em;
}
.mitadNegra__h3 {
  text-align: center;
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.85em;
}
.mitadNegra__p {
  max-width: 12.5em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  text-align: center;
  margin-left: 20%;
}

.sliderRooms {
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}
.sliderRooms__h4 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 2em;
}
.sliderRooms__h1 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
}

.slideInfo {
  padding-top: 2em;
  width: 100%;
  max-width: 23.438em;
  display: flex;
  flex-direction: column;
}
.slideInfo__imgRepeat {
  margin-left: 11%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.slideInfo__mainImg {
  width: 100%;
  max-width: 23em;
}

.swiper {
  position: relative;
  width: 23em;
  height: 30em;
}

.swiper-button-prev {
  color: rgb(2, 2, 2) !important;
  background-color: white !important;
  width: 2em !important;
  height: 2em !important;
  top: 10em !important;
}

.swiper-button-prev::after {
  font-size: 1em !important;
}

.swiper-button-next {
  color: rgb(255, 255, 255) !important;
  background-color: #BDAC8D !important;
  width: 2em !important;
  height: 2em !important;
  top: 10em !important;
}

.swiper-button-next::after {
  font-size: 1em !important;
}

.roomSample {
  margin-top: -2em;
  z-index: 50;
  max-width: 20.938em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.roomSample__h3 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 1.85em;
  margin-bottom: 0.5em;
}
.roomSample__p {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}
.roomSample__priceContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.roomSample__priceContainer__price {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 2em;
}
.roomSample__priceContainer__night {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-top: 1.1em;
}

.intro {
  height: 52em;
  background-color: #222222;
  padding-left: 1em;
  padding-top: 4em;
}
.intro__h4 {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 0.95em;
  letter-spacing: 0.17em;
  margin-bottom: 2em;
}
.intro__h2 {
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  margin-bottom: 0.35em;
}
.intro__p {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.intro__iframe {
  width: 21.5em;
  height: 15em;
  margin-bottom: 1.5em;
}
.intro__button {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 13.15em;
}

.facilities {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}
.facilities__h4 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.facilities__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: -0.08em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.swiper2 {
  position: relative;
  width: 23em;
  height: 20em;
  margin-bottom: 4em;
}
.swiper2 .swiper-pagination-bullet {
  background-color: #EDEDED !important;
}
.swiper2 .swiper-pagination-bullet-active {
  background-color: #BEAD8E !important;
}

.slideInfo2__iconImg {
  width: 4.25em;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2.5em;
}
.slideInfo2__numeroMasivo2 {
  font-family: "Archivo", sans-serif;
  color: #F8F8F8;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  position: absolute;
  right: 0.2em;
  font-size: 8.1em;
  top: -0.2em;
}
.slideInfo2__h3 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.85em;
  letter-spacing: -0.015em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.slideInfo2__p {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  margin-left: 2.5em;
  width: 18em;
}

.foodMenu {
  height: 62.375em;
  width: 23em;
  padding-left: 1em;
}
.foodMenu__img {
  width: 7.15em;
  margin-left: 73.5%;
}
.foodMenu__h4 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
  margin-bottom: 1.5em;
}
.foodMenu__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: -0.08em;
  margin-bottom: 0.5em;
}

.sectionSlider3 {
  height: 26em;
}

.swiper3 {
  position: relative;
  width: 23em;
  height: 30em;
}

.sliderInfo3__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.sliderInfo3__group__imgFood {
  max-width: 8.5em;
  margin-right: 1.5em;
}
.sliderInfo3__group__containerData1 {
  display: flex;
  flex-direction: column;
}
.sliderInfo3__group__containerData1__h3 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: -0.04em;
}
.sliderInfo3__group__containerData1__p {
  font-family: "Roboto", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5em;
  margin-left: 0.2em;
}

.swiper-button-prev3 {
  color: rgb(2, 2, 2) !important;
  background-color: rgb(249, 249, 249) !important;
  width: 2em !important;
  height: 2em !important;
  top: 22em !important;
  left: 73% !important;
}

.swiper-button-next3 {
  color: rgb(255, 255, 255) !important;
  background-color: #BDAC8D !important;
  width: 2em !important;
  height: 2em !important;
  top: 22em !important;
}

.swiper4 {
  position: relative;
  width: 23em;
  height: 15em;
}

.sliderInfo4 {
  max-width: 22.5em;
  max-height: 12em;
  padding-right: 1em;
}
.sliderInfo4__img {
  width: 100%;
  max-height: 12em;
}

.swiper-slide4 {
  height: 5em !important;
}

.achievements {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #222222;
  padding-top: 4em;
}
.achievements__img {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.achievements__h2 {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 3.5em;
}
.achievements__h5 {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 4em;
}

@media only screen and (min-width: 1250px) {
  .titleGrandeWide {
    display: block;
    height: 6.25em;
    background-color: #222222;
  }
  .titleGrandeWide__text {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 400;
    font-size: 1em;
    padding-top: 0.7em;
    margin-left: 13%;
  }
  .titleGrande {
    padding-left: 15%;
    padding-top: 5%;
  }
  .titleGrande__button {
    margin-top: 4em;
  }
  .availability {
    display: flex;
    flex-direction: row;
    height: 10em;
    padding-left: 15%;
  }
  .availability__wideContainer {
    margin-right: 7%;
  }
  .wideModifier {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }
  .aboutUs {
    margin-top: 10em;
    padding-right: 10em;
    grid-column: 3/span 1;
    grid-row: 1/span 2;
  }
  .aboutUs2 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .mitad__superior {
    margin-bottom: 2em;
  }
  .swiper {
    position: relative;
    width: 100%;
    height: 48em;
  }
  .slideInfo {
    padding-top: 2em;
    width: 100%;
    max-width: 23.438em;
    display: flex;
    flex-direction: column;
    width: 48.125em;
    max-width: 48.125em;
    margin: 0 auto;
  }
  .slideInfo__imgRepeat {
    left: 30%;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .slideInfo__mainImg {
    margin: 0 auto;
    width: 48.125em;
    max-width: 48.125em;
  }
  .swiper-button-prev {
    color: rgb(2, 2, 2) !important;
    background-color: white !important;
    width: 2em !important;
    height: 2em !important;
    top: 10em !important;
    top: 20em !important;
    left: 20% !important;
  }
  .swiper-button-prev::after {
    font-size: 1em !important;
  }
  .swiper-button-next {
    color: rgb(255, 255, 255) !important;
    background-color: #BDAC8D !important;
    width: 2em !important;
    height: 2em !important;
    top: 10em !important;
    top: 20em !important;
    right: 20% !important;
  }
  .swiper-button-next::after {
    font-size: 1em !important;
  }
  .introWide {
    display: flex;
    flex-direction: row;
  }
  .intro {
    padding-left: 0;
    height: 35em;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
  }
  .intro__h4, .intro__h2, .intro__p {
    text-align: left;
  }
  .intro__p, .intro__h2 {
    padding-right: 50%;
  }
  .intro__iframe {
    position: absolute;
    left: 55%;
    width: 31em;
    height: 22em;
  }
  .additionalWide {
    width: 30%;
    background-color: #BEAD8E;
  }
}
.roomSlider {
  padding-top: 3em;
  height: 205em;
}

.slideInfoRooms {
  padding-top: 2em;
  width: 100%;
  max-width: 23.438em;
  display: flex;
  flex-direction: column;
}
.slideInfoRooms__imgRepeat {
  margin-left: 11%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.slideInfoRooms__mainImg {
  width: 100%;
  max-width: 23em;
}

.swiperM {
  position: relative;
  width: 23em;
  height: 200em;
}
.swiperM .swiper-pagination-bullet {
  background-color: #EDEDED !important;
  padding-top: 0.5em;
  width: 2em;
  height: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  border-radius: 0;
}
.swiperM .swiper-button-prevM2 {
  top: 99.5% !important;
  left: 25% !important;
  color: black !important;
  background-color: transparent !important;
  z-index: 99999;
}
.swiperM .swiper-button-prevM1 {
  top: 99.5% !important;
  left: 23.5% !important;
  color: black !important;
  background-color: transparent !important;
  z-index: 99999;
}
.swiperM .swiper-button-nextM2 {
  top: 99.5% !important;
  right: 25% !important;
  color: black !important;
  background-color: transparent !important;
}
.swiperM .swiper-button-nextM1 {
  top: 99.5% !important;
  right: 23.5% !important;
  color: black !important;
  background-color: transparent !important;
}
.swiperM .swiper-pagination-bullet-active {
  background-color: #BEAD8E !important;
  font-family: "Oswald", sans-serif;
  padding-top: 0.5em;
  width: 2em;
  height: 2em;
  font-size: 0.85em;
  font-weight: 700;
  border-radius: 0;
}

.roomSample {
  margin-top: -2em;
  z-index: 50;
  max-width: 20.938em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}
.roomSample__h3 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 1.85em;
  margin-bottom: 0.5em;
}
.roomSample__p {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}
.roomSample__priceContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.roomSample__priceContainer__price {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 2em;
}
.roomSample__priceContainer__night {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-top: 1.1em;
  font-size: 1em;
}
.roomSample__priceContainer__book {
  font-family: "Archivo", sans-serif;
  color: #BDBDBD;
  background-color: transparent;
  font-weight: 700;
  font-size: 1em;
  margin-top: 1.1em;
  margin-left: 1.5em;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  margin-bottom: 4em;
}
.generalInfo__iframe {
  width: 21.5em;
  height: 15em;
  margin: 3em 0 2em 0;
}
.generalInfo__explanation {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: -0.07em;
  text-align: center;
  margin-bottom: 1.5em;
}
.generalInfo__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 20em;
  width: 21.5em;
  justify-content: center;
  align-items: center;
}
.generalInfo__grid__specialBackground {
  background-color: #BEAD8E;
  height: 10em;
  display: flex;
  flex-direction: column;
}
.generalInfo__grid__specialBackground__img2, .generalInfo__grid__specialBackground__txt2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}
.generalInfo__grid__specialBackground__img2 {
  width: 3.75em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.generalInfo__grid__specialBackground__txt2 {
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
}
.generalInfo__grid__img1, .generalInfo__grid__txt1 {
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}
.generalInfo__grid__img1, .generalInfo__grid__img3, .generalInfo__grid__img4 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}
.generalInfo__grid__txt1, .generalInfo__grid__txt3, .generalInfo__grid__txt4 {
  margin-top: 3.5em;
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
}
.generalInfo__grid__img3, .generalInfo__grid__txt3 {
  text-align: center;
  grid-column: 1;
  grid-row: 2;
}
.generalInfo__grid__img4, .generalInfo__grid__txt4 {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

.restauranteAboutUs {
  padding: 0 1.5em 3em 1.5em;
  margin-bottom: 5em;
  background-color: #f2f2f2;
}
.restauranteAboutUs__img {
  width: 17.3em;
  margin-bottom: 1.5em;
}
.restauranteAboutUs__h4 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 2em;
}
.restauranteAboutUs__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: -0.08em;
  margin-bottom: 0.3em;
}
.restauranteAboutUs__p {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5em;
  margin-bottom: 3em;
}
.restauranteAboutUs__button {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 16.15em;
  line-height: 0.9em;
  letter-spacing: 0.15em;
  box-shadow: 0 0.85em 1.5em 0 rgba(190, 173, 142, 0.3607843137);
}

.containerRestauranteAboutUs {
  background-color: white;
  padding: 0 1.5em 0.5em 1.5em;
}

.facilitiesAbout {
  padding-top: 1.5em;
  background-color: #222222;
}

.swipper2About {
  height: 23em;
}

.slideContentAbout {
  padding: 0 1.5em 0 1.5em !important;
}

.slideInfo2About {
  background-color: #292929;
  padding-top: 2.5em;
  height: 20em;
}

.numeroMasivoAbout {
  margin-top: 0.1em;
  color: #222222;
}

.funFacts {
  margin-top: 2.5em;
  margin-bottom: 4em;
  padding: 0 1.5em 0 1.5em;
  max-width: 23em;
}
.funFacts__h5 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 1.5em;
}
.funFacts__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  margin-bottom: 1em;
}

.facts {
  max-width: 23em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
}
.facts__img1 {
  width: 4.6em;
  height: 4.8em;
}
.facts__dataContainer {
  margin-left: 1.5em;
}
.facts__dataContainer__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: -0.11em;
}
.facts__dataContainer__h5 {
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
}
.facts__imgArrow {
  width: 2em;
  height: 2em;
  margin-left: auto;
  margin-top: 1.5em;
}

.sliderInfo4__imgAbout {
  width: 20.5em;
}

.swiper-pagination4About {
  left: -5% !important;
}

.titlePeque__containerRDetails {
  width: 15em;
  margin-left: 7em;
}

.details {
  margin-top: 3em;
  padding: 0 1.5em 0 1.5em;
}
.details__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
.details__h5 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 1em;
}
.details__room {
  margin: 1.5em 0 2.5em 0;
  width: 20.5em;
}
.details__availability {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3em;
}
.details__availability__container {
  padding: 0 1em 0 1em;
}
.details__availability__h4 {
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: -0.03em;
  margin-bottom: 1.25em;
}
.details__availability__h6 {
  text-align: left;
  font-family: "Archivo", sans-serif;
  color: #111111;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 0.75em;
}
.details__availability__inputDate {
  width: 22em;
  height: 3.75em;
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 0.85em;
  padding: 0 1.25em 0 1.25em;
  margin-bottom: 0.75em;
  border: transparent;
}
.details__availability__button {
  margin: 0.5em 0 3em 0;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  width: 18.5em;
}
.details__availability__p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.5em;
}
.details__amenities {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}
.details__amenities__h2, .details__amenities__h2Founder {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 0.8em;
  letter-spacing: -0.08em;
}
.details__amenities__listContainer {
  display: flex;
  flex-direction: row;
  border-top: 0.2px solid #777777;
  padding-top: 2em;
  margin-bottom: 5em;
}
.details__amenities__listContainer li {
  list-style-type: none;
  margin-right: 1.8em;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  font-weight: 500;
}
.details__amenities__listContainer li img {
  margin-right: 1em;
}
.details__amenities__founderImg {
  width: 9.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}
.details__amenities__h2Founder {
  margin-left: auto;
  margin-right: auto;
}
.details__amenities__h5 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
  margin-bottom: 1.75em;
}
.details__amenities__p {
  text-align: center;
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
}
.details__cancellation__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  border-bottom: 0.2px solid #777777;
}
.details__cancellation__p {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 5em;
}
.details__relatedRooms__h2 {
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  border-bottom: 0.2px solid #777777;
}
.details__relatedRooms .roomDetailsSlider {
  margin-bottom: 5em;
}
.details__relatedRooms .swiperRoomDetails {
  height: 30em;
  width: 20.5em;
}

.offers {
  padding: 3em 1.5em 4em 1.5em;
  background-color: #f4f4f4;
}

.products {
  background-color: white;
  margin-bottom: 2em;
}
.products__img {
  width: 20.5em;
}
.products__priceContainer {
  position: relative;
}
.products__priceContainer__pricePositioning {
  position: absolute;
  top: 3.5em;
  left: 62%;
}
.products__priceContainer__nightPositioning {
  position: absolute;
  top: 6.8em;
  left: 82%;
}
.products__priceContainer__realPricePositioning {
  color: #DE5777;
  font-size: 2.5em;
  position: absolute;
  top: 3.6em;
  left: 55%;
}
.products__priceContainer__realNightPositioning {
  color: #DE5777;
  font-size: 1.25em;
  position: absolute;
  top: 7em;
  left: 82%;
}
.products__h5 {
  font-family: "Archivo", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 0.17em;
  margin: 0.75em 0 0.5em 1em;
}
.products__h2 {
  margin-left: 0.4em;
  font-family: "Old Standard TT", serif;
  color: #111111;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: -0.08em;
}
.products__p {
  margin: 1em;
  font-family: "Roboto", sans-serif;
  color: #777777;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
}
.products .noLine {
  border-top: transparent;
  padding: 0 1em;
  margin-bottom: 0.75em;
}
.products .noLine ul {
  margin-top: 1em;
}
.products .noLine ul li {
  margin-bottom: 1em;
}
.products__button {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #BEAD8E;
  font-weight: 700;
  font-size: 1em;
  height: 3.75em;
  border: none;
  margin-left: 1em;
  width: 13.5em;
  margin-bottom: 2em;
}

.blackPopularRooms {
  background-color: #222222;
  padding-bottom: 0.1em;
}
.blackPopularRooms__h5 {
  font-family: "Archivo", sans-serif;
  color: #BEAD8E;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.17em;
  text-align: center;
  padding-top: 2.5em;
  margin-bottom: 2em;
}
.blackPopularRooms__h2 {
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: -0.07em;
  text-align: center;
}
.blackPopularRooms .roomSampleWhite {
  background-color: white;
  padding-bottom: 3em;
}

/*# sourceMappingURL=main.css.map */
