
* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   min-width: 320px;
}

@import './css/components/footer.scss';
@import './css/components/navbar.scss';
@import './css/components/tituloPequeñoConjunto.scss';
@import './css/pages/contact.scss';
@import './css/pages/main.scss';
@import './css/pages/rooms.scss';
@import './css/pages/about.scss';
@import './css/pages/roomDetails.scss';
@import './css/pages/offers.scss';