@import './text.scss';

@mixin cardContainerMixin(){
    margin-top: -2em;
    z-index: 50;
    max-width: 20.938em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin cardContainerMixinM(){
    margin-top: -2em;
    z-index: 50;
    max-width: 20.938em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

@mixin cardH3Mixin(){
    @include font-family($font1, $color2, $bgcolor2, $weight400, $size185);
    margin-bottom:0.5em;
}

@mixin cardPMixin(){
    @include font-family($font3, $color3, $bgcolor0, $weight400, $size1);
    line-height: 1.5em;
    margin-bottom: 0.7em;
}

@mixin priceContainerMixin(){
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@mixin cardPriceMixin(){
    @include font-family($font2, $color4, $bgcolor0, $weight700, $size2);
}

@mixin cardNightMixin(){
    @include font-family($font2, $color4, $bgcolor0, $weight700, $size085);
    margin-top: 1.1em;
}

@mixin cardBookMixin(){
    @include font-family($font2, $color6, $bgcolor0, $weight700, $size1);
    margin-top: 1.1em;
    margin-left: 1.5em;
}

