$font1: 'Old Standard TT', serif;
$font2: 'Archivo', sans-serif;
$font3: 'Roboto', sans-serif;
$color1: #FFFFFF;
$color2: #111111;
$color3: #777777;
$color4: #BEAD8E;
$color5: #F8F8F8;
$bgcolor0: transparent;
$bgcolor1: #BEAD8E;
$bgcolor2: #F8F8F8;
$weight200: 200;
$weight400: 400;
$weight700: 700;
$size085: 0.85em;
$size1: 1em;
$size125: 1.25em;
$size15: 1.5em;
$size2: 2em;
$size35: 3.5em;



@mixin font-family($font, $color, $bgcolor, $weight, $size) {
    font-family: $font;
    color: $color;
    background-color: $bgcolor;
    font-weight: $weight;
    font-size: $size
  }
  