@import './text.scss';
@import './tituloTexto.scss';

.titlePeque{
    height: 17.25em;
    background-color: #333333;    
    &__superior{
        @include tituloSuperior();
    }
    &__intermedio{
        @include tituloIntermedio(); 
    }
    &__container{
        @include containerTituloInferior();
        &__inferior{
            @include tituloInferior()            
        }
        &__inferior2{
            @include tituloInferior2()
        }
    }
}

.titleGrande{
    background-color: #333333;    
    &__superior{
        @include tituloSuperior();
    }
    &__intermedio{
        @include tituloIntermedio(); 
    }
}

@media only screen and (min-width: 1250px) {
    .titlePeque{
        height: 22.25em;
        padding: 6em 20% 0 20%;
        &__container{
            margin-top: 2em;
            margin-left: 80%;
        }
    }
}