@import '../components/text.scss';

.backImg{
    background-image: url(../../assets/Rectángulo21.png)
}


.hotel{
    padding: 1.5em;
    &__container{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 2.5em;
        &__title{
            @include font-family($font2, $color1, $bgcolor1);
            font-size:2em;
            width: 2.5em;
            height: 2.3em;
            margin-right: 1em;
            text-align: center;
            vertical-align: middle;
            line-height: 2.4em;     
            grid-column: 1 / span 1; 
            grid-row: 1 / span 2;
        }
        &__h2Primero{
            @include font-family($font2, $color2, $bgcolor0);
            margin-top: 0.3em;
            margin-bottom: 0.1em;
            font-weight: 700;
            grid-column: 2, span 1;
            grid-row: 1;
        }
        &__h2Segundo{
            @include font-family($font2, $color2, $bgcolor0);
            grid-column: 2, span 1;
            grid-row: 2;
            font-weight:400;
        }        
    }
    &__text{
        @include font-family($font2, $color3, $bgcolor0);
    }
}

.links{
    display: flex;
    flex-direction: row;
}