@import '../components/text.scss';
@import '../components/button.scss';
@import '../components/explanation.scss';
@import '../components/swipers/swiper1.scss';
@import '../components/swipers/swiper2.scss';
@import '../components/swipers/swiper3.scss';
@import '../components/roomCard.scss';
@import '../components/NumerosMasivos.scss';

.titleGrande{
    height:49.25em;
    margin-bottom: 11em;
    &__button{
        @include buttonNaranja();
        width:16.15em;        
        margin-left: 1em;
        margin-top: 2.5em;
        font-family: 'Archivo', sans-serif;
        font-size: 0.85em;
        line-height: 0.9em;
        letter-spacing: 0.15em;

    }
    &__button--negro{
        border: 2px solid #FFFFFF54;
        background-color: transparent;
    }
    &__button--grande{
        width: 18.30em;
    }
    &__availability{
        margin-top: 5em;
        height:23.25em;
        background-color: #222222;     
        &__txt{
            @include font-family($font3, $color1, $bgcolor0, $weight700, $size1);
            margin-left: 1em;
            line-height: 1.2em;
            padding-top: 2em;
            margin-bottom: 1.5em;
        }
        &__container{
            margin-left: 1em;
            border: none; 
            border-bottom: 2px solid #BEAD8E; 
            padding-bottom: 0.8em;
            width: 21.5em;
            display: flex;
            &__imgButton{
                background-color: transparent;
                border: none;
            }
        }
        &__dates{
            margin-left: 2em;
            width:23.4em;
            background-color: transparent;
            border: none;
            @include font-family($font3, $color3, $bgcolor0, $weight400, $size085);

        }   
    }
}

.aboutUs{
    margin-left: 1em;
    &__h4{
        @include explanationH4();
        margin-bottom: 2em;
    }
    &__h2{
        @include explanationH2();
        margin-bottom: 0.3em;
    }
    &__p{
        @include explanationP();
        margin-bottom: 3em;
    }
    &__button{
        @include buttonNaranja();
        width:16.15em;               
        line-height: 0.9em;
        letter-spacing: 0.15em; 
    }
}

.mitad{
    margin-top: 4em;
    height:30.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    &__superior{
        height:11.316em;
        &__img{
            max-width: 17em;
        }
    }
    &__inferior{
        padding-top: 3.5em;
        margin-bottom: 2em; 
    }    
}

.mitadBlanca{
    &__img{
        margin-left: 32%;
        margin-bottom: 1.5em;
    }
    &__h3{
        text-align: center;
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size185)
    }
    &__p{
        text-align: center;
        max-width:12.5em;
        @include font-family($font3, $color2, $bgcolor0, $weight400, $size085)
    }
}

.mitadNegra{
    background-color: #222222;
    width:17em;
    text-align: center;
    height:17.5em;
    &__img{
        margin-bottom: 1.5em;
    }
    &__h3{
        text-align: center;
        @include font-family($font1, $color1, $bgcolor0, $weight400, $size185)
    }
    &__p{
        max-width:12.5em;
        @include font-family($font3, $color1, $bgcolor0, $weight400, $size085);        
        text-align: center;        
        margin-left: 20%;
    }
}

.sliderRooms{
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    &__h4{
        @include font-family($font2, $color3, $bgcolor0, $weight700, $size085);
        margin-bottom: 2em;
    }
    &__h1{
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size35);
    }
}

.slideInfo{
    padding-top: 2em;
    @include slideInfoMixin();
    &__imgRepeat{
        margin-left: 11%;
        position:absolute;
        top: 0;
        z-index: 10;
    }
    &__mainImg{        
        @include slideInfoMainImg();
    }
}

.swiper{
    @include swiperMixin();
}

.swiper-button-prev{
    @include swiper-button-prevMixin()
}
.swiper-button-prev::after{
    font-size:1em !important;
}

.swiper-button-next{
    @include swiper-button-nextMixin();    
}
.swiper-button-next::after{
    font-size:1em !important;
}

.roomSample{    
    @include cardContainerMixin();
    &__h3{
        @include cardH3Mixin();
    }
    &__p{
        @include cardPMixin();
    }
    &__priceContainer{
       @include priceContainerMixin();
        &__price{
            @include cardPriceMixin();
        }
        &__night{
            @include cardNightMixin();
        }
    }
}

.intro{
    height: 52em;
    background-color: #222222;
    padding-left: 1em;
    padding-top: 4em;

    &__h4{
        @include font-family($font2, $color4, $bgcolor0, $weight700, $size085);
        line-height: 0.95em;
        letter-spacing: 0.17em;
        margin-bottom: 2em;
    }
    &__h2{
        @include font-family($font1, $color1, $bgcolor0, $weight400, $size35);
        margin-bottom: 0.35em;
    }
    &__p{
        @include font-family($font2, $color3, $bgcolor0, $weight400, $size085);
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }
    &__iframe{
        width: 21.5em;
        height:15em;
        margin-bottom: 1.5em;
    }
    &__button{
        @include buttonNaranja();
        width: 13.15em;
    }
}

.facilities{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    &__h4{
        @include font-family($font2, $color3, $bgcolor0, $weight700, $size085);
        letter-spacing: 0.17em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
    }
    &__h2{
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size35);
        letter-spacing: -0.08em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}

.swiper2{
    @include swiperMixin2();
    margin-bottom: 4em;
}

.slideInfo2{
    &__iconImg{
        width:4.25em;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2.5em;
    }
    &__numeroMasivo2{
        @include font-family($font2, $color5, $bgcolor0, $weight700, $size1);
        @include numeroMasivo2();
    }
    &__h3{
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size185);
        letter-spacing: -0.015em;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    &__p{
        @include font-family($font2, $color3, $bgcolor0, $weight400, $size085);
        margin-left: 2.5em;
        width:18em;
    }
}

.swiper-pagination-bullet{
    @include swiper-pagination-bulletMixin();
}

.swiper-pagination-bullet-active{
    @include swiper-pagination-bullet-activeMixin();
}

.foodMenu{
    height:47.375em;
    width:23em;
    padding-left: 1em;
    &__img{
        width:7.15em;
        margin-left: 73.5%;
    }
    &__h4{
        @include font-family($font2, $color3, $bgcolor0, $weight700, $size085);
        letter-spacing: 0.17em;
        margin-bottom: 1.5em;   
    }
    &__h2{
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size35);
        letter-spacing: -0.08em;
        margin-bottom: 0.5em;
    }
}

.swiper3{
    @include swiperMixin3();
}

.sliderInfo3{
    &__group{
        display:flex;
        flex-direction: row;
        margin-bottom: 1em;
        &__imgFood{
            max-width:8.5em;
            margin-right: 1.5em;
        }
        &__containerData1{
            display: flex;
            flex-direction: column;
            &__h3{
                @include font-family($font1, $color2, $bgcolor0, $weight400, $size15);
                letter-spacing: -0.04em;
            }
            &__p{
                @include font-family($font3, $color2, $bgcolor0, $weight400, $size085);
                line-height: 1.5em;
                margin-left: 0.2em;
            }
        }
    }
}

.swiper-button-prev3{
    @include swiper-button-prevMixin3();

}

.swiper-button-next3{
    @include swiper-button-nextMixin3();    
}