.offers{
    padding: 3em 1.5em 4em 1.5em;
    background-color: #f4f4f4;    
}

.phoneVer{    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products{    
    background-color: white;
    margin-bottom: 2em;
    &__img{
        width:20.5em;
    }
    &__priceContainer{
        position: relative;
        &__pricePositioning{
            position: absolute;
            top:3.5em;
            left:6em;
        }
        &__nightPositioning{
            position: absolute;
            top:6.8em;
            left:16.5em;
        }
        &__realPricePositioning{
            color: #DE5777;
            font-size: 2.5em;
            position: absolute;
            top:3.6em;
            left:4.4em;
        }
        &__realNightPositioning{
            color: #DE5777;
            font-size: 1.25em;
            position: absolute;
            top:7em;
            left:13em;
        }
    }
    &__h5{
        @include font-family($font2, $color3, $bgcolor0, $weight700, $size085);
        letter-spacing: 0.17em;
        margin: 0.75em 0 0.5em 1em;
    }
    &__h2{
        margin-left: 0.4em;
        @include font-family($font1, $color2, $bgcolor0, $weight400, $size25);
        letter-spacing: -0.08em;
    }

    &__p{
        margin: 1em;
        @include font-family($font3, $color3, $bgcolor0, $weight400, $size085);
    }
    .noLine{
        border-top: transparent;
        padding: 0 1em;
        margin-bottom: 0.75em;
        ul{
            margin-top: 1em;
            li{            
                margin-bottom: 1em;
            }
        }
    }
    &__button{
        @include buttonNaranja();
        margin-left: 1em;
        width:13.5em;
        margin-bottom: 2em;
    }

}

.blackPopularRooms{
    background-color: #222222;
    padding-bottom: 0.1em;
    &__h5{
        @include font-family($font2, $color4, $bgcolor0, $weight400, $size085);
        letter-spacing: 0.17em;
        text-align: center;
        padding-top: 2.5em;
        margin-bottom: 2em
    }
    &__h2{
        @include font-family($font1, $color1, $bgcolor0, $weight400, $size25);
        letter-spacing: -0.07em;
        text-align: center;
    }
    .roomSampleWhite{
        background-color: white;
        padding-bottom: 3em;
    }
}

.offerDetailsWide{
    display:none;
}

.wideVer{
    display:none;
}

@media only screen and (min-width: 1250px) {

    .offers{
        padding: 0 15% 0 15%;
        padding-top: 5em;
    }

    .products{
        height:77em;
        position:relative;
        &__img{
            width:100%
        }
        &__h5{
            background-color: white;
        }
        &__h2{
            background-color: white;
        }
        &__p{
            margin-bottom: 3em;
        }
        &__priceContainer{
            &__pricePositioning{
                margin-top:52.5%;
                z-index: 99999;
                left:82%;
            }
            &__nightPositioning{
                margin-top:53.7%;
                z-index: 99999;
                left:90%;
            }
            &__realPricePositioning{
                z-index: 99999;
                margin-top:53%;
                left:80%;
            }
            &__realNightPositioning{
                z-index: 99999;
                margin-top:54.5%;
                left:88.9%;
            }
        }
    }

    .offerProductWideContainer{
        position:absolute;
        margin: -5em 5% 0 5%;
        padding:2em 5%  0 5%;
        background-color: white;
        border-top:solid 8px;
        border-top-color: #BEAD8E;
    }

    .wideLine{
        margin: 2em 0 2em 1.5%;
        width: 100%;
        border: 2px solid #F1F1F1;
    }

    .phoneVer{
        display:none
    }

    .wideVer{
        display:flex;
        flex-direction: row;
        &__left{
            width:60%;
            padding-right: 12%;
        }
        &__right{
            gap:15%;
            width:40%;
            display:flex;
            padding-left: 2%;
            flex-direction: row;
        }
    }

    .offerDetailsWide{
        display:flex;
        flex-direction: row;
    }

    .smallOfferDetails{
        &__img{
            width:21em
        }
    }

    .imgRepeatWideSmaller{
        margin: -2em 5% 0 5%
    }
}